/* Welcome to Compass. In this file you should write your main styles. (or centralize your imports) Import this file using the following HTML or equivalent: <link href="/stylesheets/screen.css" media="screen, projection" rel="stylesheet" type="text/css" /> */
html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video { margin: 0; padding: 0; border: 0; font: inherit; font-size: 100%; vertical-align: baseline; }

html { line-height: 1; }

ol, ul { list-style: none; }

table { border-collapse: collapse; border-spacing: 0; }

caption, th, td { text-align: left; font-weight: normal; vertical-align: middle; }

q, blockquote { quotes: none; }
q:before, q:after, blockquote:before, blockquote:after { content: ""; content: none; }

a img { border: none; }

article, aside, details, figcaption, figure, footer, header, hgroup, main, menu, nav, section, summary { display: block; }

@font-face { font-family: "Roboto"; font-weight: 400; font-style: normal; src: url("../fonts/Roboto/Roboto-Regular.otf?#iefix") format("opentype"), url("../fonts/Roboto/Roboto-Regular.woff") format("woff"), url("../fonts/Roboto/Roboto-Regular.ttf") format("truetype"); }
@font-face { font-family: "Roboto"; font-weight: 600; font-style: normal; src: url("../fonts/Roboto/Roboto-Bold.otf?#iefix") format("opentype"), url("../fonts/Roboto/Roboto-Bold.woff") format("woff"), url("../fonts/Roboto/Roboto-Bold.ttf") format("truetype"); }
@font-face { font-family: "Roboto"; font-weight: 500; font-style: normal; src: url("../fonts/Roboto/Roboto-Medium.otf?#iefix") format("opentype"), url("../fonts/Roboto/Roboto-Medium.woff") format("woff"), url("../fonts/Roboto/Roboto-Medium.ttf") format("truetype"); }
@font-face { font-family: "Roboto_Slab"; font-weight: 700; font-style: normal; src: url("../fonts/Roboto_Slab/RobotoSlab-Bold.otf?#iefix") format("opentype"), url("../fonts/Roboto_Slab/RobotoSlab-Bold.woff") format("woff"), url("../fonts/Roboto_Slab/RobotoSlab-Bold.ttf") format("truetype"); }
@font-face { font-family: "Roboto_Slab"; font-weight: 400; font-style: normal; src: url("../fonts/Roboto_Slab/RobotoSlab-Regular.otf?#iefix") format("opentype"), url("../fonts/Roboto_Slab/RobotoSlab-Regular.woff") format("woff"), url("../fonts/Roboto_Slab/RobotoSlab-Regular.ttf") format("truetype"); }
@font-face { font-family: "UniSansThinCAPS"; font-weight: 400; font-style: normal; src: url("../fonts/UniSansThinCAPS/UniSansThinCAPS.otf?#iefix") format("opentype"), url("../fonts/UniSansThinCAPS/UniSansThinCAPS.woff") format("woff"), url("../fonts/UniSansThinCAPS/UniSansThinCAPS.ttf") format("truetype"); }
.container { max-width: 1170px; margin: 0 auto; padding: 0 10px; }

.authorization { background-color: #e7eced; height: 32px; }

.menu { text-align: right; }

.menu__icon { display: none; width: 30px; height: 24px; position: relative; cursor: pointer; }

.menu__icon span { display: block; position: absolute; height: 3px; width: 100%; background: #ffffff; border-radius: 0; opacity: 1; left: 0; transform: rotate(0deg); transition: .25s ease-in-out; }

.menu__icon span:nth-child(1) { top: 0; }

.menu__icon span:nth-child(2), .menu__icon span:nth-child(3) { top: 10px; }

.menu__icon span:nth-child(4) { top: 20px; }

.menu__links-item { font-size: 14px; text-decoration: none; padding-bottom: 10px; transition: 0.3s linear; font-family: "Roboto"; font-weight: 400; color: #000000; border-bottom: 1px solid #ddd; }

.menu.menu_state_open .menu__icon span:nth-child(1) { top: 18px; width: 0%; left: 50%; }

.menu.menu_state_open .menu__icon span:nth-child(2) { transform: rotate(45deg); }

.menu.menu_state_open .menu__icon span:nth-child(3) { transform: rotate(-45deg); }

.menu.menu_state_open .menu__icon span:nth-child(4) { top: 18px; width: 0%; left: 50%; }

.menu.menu_state_open .menu__links { display: block; }

@media screen and (max-width: 999px) { .menu__icon { display: inline-block; }
  .menu__links { position: fixed; display: none; top: 0; right: 0; left: 0; margin-top: 64px; background-color: white; z-index: 1000; }
  .menu__links-item { display: block; padding: 10px 0; text-align: center; color: #000000; } }
.menu { display: flex; flex-direction: row; align-items: flex-start; justify-content: flex-start; flex-basis: 15%; max-width: 15%; padding: 0; transition: 0.3s linear; padding-left: 5px; }
@media (min-width: 480px) { .menu { flex-basis: 85%; max-width: 85%; padding: 20px 10px 0 10px; flex-direction: row; } }
@media (min-width: 768px) { .menu { flex-basis: 80%; max-width: 80%; } }
@media (min-width: 992px) { .menu { flex-basis: 50%; max-width: 50%; justify-content: space-between; } }
.menu ul { display: flex; justify-content: flex-end; margin-right: 28px; }
.menu ul li { margin-right: 20px; }
.menu ul li:nth-of-type(1) img { max-height: 30px; }
.menu ul li:nth-of-type(2) img { max-height: 21px; }
.menu__links-item { font-size: 16px; text-decoration: none; padding-bottom: 10px; transition: 0.3s linear; font-family: "Roboto"; font-weight: 400; color: #000000; text-align: left; display: flex; align-items: center; }
.menu__links-item span { margin: 0 10px; width: 26px; }
.menu__links-item span img { width: 100%; }
@media (min-width: 768px) { .menu__links-item { font-size: 16px; } }
@media (min-width: 992px) { .menu__links-item { color: #282828; } }
.menu__links-item:hover { background-color: #ddd; }

.btn { display: flex; justify-content: center; }
.btn a { text-decoration: none; text-transform: uppercase; height: 42px; width: 223px; display: flex; justify-content: center; align-items: center; font-family: "Roboto"; font-weight: 600; color: #ffffff; background-color: #ff9900; box-shadow: 2px 2px 2px #e68a00; transition: 0.3s ease; }
.btn a:hover { box-shadow: none; }

.top-section { background: linear-gradient(to top, #020035, #310064); height: 64px; margin-bottom: 18px; }
.top-section header { display: flex; align-items: center; height: 64px; margin-bottom: 18px; }
@media (min-width: 768px) { .top-section header { align-items: flex-start; } }
.top-section header .search { flex-basis: 70%; max-width: 70%; }
.top-section header .search input { height: 12px; border: none; padding: 8px 15px; width: 161px; }
.top-section header .basket { position: relative; }
.top-section header .basket::before { position: absolute; content: ""; width: 24px; height: 24px; background-color: #ff9900; top: -8px; left: -8px; border-radius: 50%; }
.top-section header .basket::after { position: absolute; content: "2"; top: -4px; left: 0px; border-radius: 50%; font-family: "roboto"; font-weight: 600; font-size: 16px; color: #fff; }

.banner { margin-bottom: 40px; }
.banner .img { margin-bottom: 12px; }
.banner .img img { height: 100%; width: 100%; }
.banner .title { padding: 0 10px; margin-bottom: 12px; }
.banner .title h4 { font-family: "Lobster"; font-weight: 400; font-size: 15px; text-align: center; line-height: 1.3; }

.items-wrapper { margin-bottom: 8px; }
.items-wrapper .container { display: flex; justify-content: space-between; flex-direction: row; flex-wrap: wrap; }
.items-wrapper .container .title { display: flex; justify-content: center; flex-basis: 100%; max-width: 100%; font-family: "Roboto"; font-weight: 600; color: #120045; font-size: 18px; margin-bottom: 8px; }
.items-wrapper .item { flex-basis: 45%; max-width: 45%; padding: 4px; border: 1px solid #d1d1d1; margin-bottom: 10px; }
.items-wrapper .item a { display: flex; flex-direction: column; text-decoration: none; font-family: "Roboto"; color: #2a2a2a; }
.items-wrapper .item a .img { margin-bottom: 15px; }
.items-wrapper .item a .title { font-weight: 400; color: #2a2a2a; font-size: 16px; margin-bottom: 15px; }
.items-wrapper .item a .price { text-align: center; font-weight: 600; margin-bottom: 10px; }
.items-wrapper .item a .price p { font-size: 14px; }
.items-wrapper .item a .price p span { font-size: 22px; }
.items-wrapper .item a .availability { display: flex; flex-direction: row; justify-content: center; align-items: center; margin-bottom: 10px; }
.items-wrapper .item a .availability .img { margin-bottom: 0; margin-right: 8px; }
.items-wrapper .item a .availability span { font-weight: 400; font-size: 12px; }

.call { margin-bottom: 46px; }
.call .btn a { font-weight: 400; font-size: 18px; background-color: #3e3bac; box-shadow: 2px 2px 2px #200053; }

footer { height: 64px; background: linear-gradient(to top, #020035, #310064); display: flex; flex-direction: column; justify-content: center; align-items: center; }
footer .title { font-size: 12px; color: #fff; font-family: "Roboto"; font-weight: 400; margin-bottom: 6px; }

.item-section .item { font-family: "Roboto"; }
.item-section .item .top { display: flex; flex-direction: row; justify-content: space-between; flex-basis: 100%; max-width: 100%; }
.item-section .item .top .certificate { margin-left: 10px; }
.item-section .item .top .availability { display: flex; flex-direction: row; justify-content: center; align-items: center; margin-bottom: 10px; }
.item-section .item .top .availability .img { margin-bottom: 0; margin-right: 8px; }
.item-section .item .top .availability span { color: #2a2a2a; font-weight: 400; font-size: 16px; }
.item-section .item .title { font-weight: 400; color: #120045; font-size: 24px; margin-bottom: 15px; display: flex; justify-content: center; flex-basis: 100%; max-width: 100%; margin-top: 14px; }
.item-section .item .single-item .slick-slide img { margin: 0 auto; }
.item-section .item .single-item .slick-dots { bottom: -50px; }
.item-section .item .single-item .slick-dots li { margin: 0; }
.item-section .item .single-item .slick-dots li button::before { font-size: 10px; opacity: 1; color: #c5c5c5; }
.item-section .item .single-item .slick-dots li.slick-active button::before { opacity: 1; color: #461cf4; }
.item-section .item .buttons { margin-top: 62px; display: flex; justify-content: space-between; align-items: center; }
.item-section .item .buttons .price { height: 50px; display: flex; width: 136px; align-items: center; background-color: #feffcf; justify-content: center; font-weight: 500; }
.item-section .item .buttons .price p { font-size: 14px; }
.item-section .item .buttons .price span { font-size: 24px; }
.item-section .item .buttons .buy a { text-decoration: none; height: 36px; width: 140px; display: flex; align-items: center; justify-content: center; background-color: #3e3bac; color: #fff; font-size: 16px; text-transform: unset; font-weight: 400; letter-spacing: 1.5px; }
.item-section .item .product-code { font-size: 12px; font-weight: normal; display: flex; justify-content: center; align-items: center; margin-top: 15px; margin-bottom: 18px; }
.item-section .item .product-code .rating-box { width: 61px; height: 11px; background: url(../img/grey-stars.png); display: inline-block; background-repeat: no-repeat; margin-right: 8px; }
.item-section .item .product-code .rating-box .stars { background: url(../img/gold-stars.png); height: 11px; width: 60px; background-repeat: no-repeat; }
.item-section .item .desc { font-size: 14px; line-height: 1.4; }
.item-section .item .desc .more { display: flex; font-size: 16px; justify-content: center; margin-top: 6px; }
.item-section .item .desc .more a { color: #2a2a2a; }
.item-section .also-choose { font-family: "Roboto"; }
.item-section .also-choose .title-choose { font-weight: 400; color: #120045; font-size: 18px; margin-bottom: 18px; display: flex; justify-content: center; flex-basis: 100%; max-width: 100%; margin-top: 42px; }
.item-section .also-choose .items-wrapper { display: flex; justify-content: space-between; flex-direction: row; flex-wrap: wrap; }

.catalog { font-family: "Roboto"; }
.catalog .title { font-weight: 600; text-transform: uppercase; color: #c; font-size: 18px; margin-bottom: 18px; display: flex; justify-content: center; flex-basis: 100%; max-width: 100%; margin-top: 24px; }
.catalog .catalog-item { margin-bottom: 18px; }
.catalog .catalog-item ul li { margin-bottom: 10px; border-bottom: 1px solid #e8e8e8; padding-bottom: 8px; display: flex; align-items: center; }
.catalog .catalog-item ul li span { margin-left: 16px; margin-right: 12px; width: 26px; }
.catalog .catalog-item ul li span img { width: 100%; }
.catalog .call { margin-top: 8px; margin-bottom: 18px; }

.basket-item { font-family: "Roboto"; }
.basket-item .title { font-weight: 400; color: #2a2a2a; font-size: 16px; padding-bottom: 18px; display: flex; justify-content: flex-start; flex-basis: 100%; max-width: 100%; margin-top: 12px; border-bottom: 1px solid #ddd; }
.basket-item .wrapper-basket { margin-bottom: 20px; }
.basket-item .wrapper-basket .item { display: flex; align-items: flex-start; padding-top: 10px; padding-bottom: 10px; border-bottom: 1px solid #ddd; }
.basket-item .wrapper-basket .img { margin-right: 8px; flex-basis: 31.333333%; max-width: 31.333333%; }
.basket-item .wrapper-basket .img img { width: 100%; }
.basket-item .wrapper-basket .desc { flex-basis: 32.333333%; max-width: 32.333333%; }
.basket-item .wrapper-basket .desc .title { margin-top: 0; font-size: 16px; color: #120045; border: none; }
.basket-item .wrapper-basket .desc .price p { font-size: 12px; font-weight: 500; }
.basket-item .wrapper-basket .desc .price p span { font-size: 20px; }
.basket-item .wrapper-basket .close { display: flex; align-items: flex-end; flex-basis: 32.333333%; max-width: 32.333333%; justify-content: flex-end; flex-direction: column; }
.basket-item .wrapper-basket .close .final-price { margin-top: 14px; width: 80px; height: 26px; display: flex; align-items: center; justify-content: center; background-color: #feffcf; }
.basket-item .wrapper-basket .close .final-price p { font-weight: 500; font-size: 12px; }
.basket-item .wrapper-basket .close .final-price p span { font-size: 20px; }

.call .orange { margin-bottom: 40px; }
.call .orange a { background-color: #ff9900; box-shadow: 2px 2px 2px #e68a00; font-size: 18px; font-weight: 600; }

.personal-cabinet .cabinet { padding-bottom: 8px; border-bottom: 1px solid #e8e8e8; }
.personal-cabinet .cabinet h3 { display: flex; align-items: center; }
.personal-cabinet .cabinet h3 img { margin-left: 6px; margin-right: 16px; }
.personal-cabinet .title { border: none; margin-top: 8px; }

.enter { font-family: "Roboto"; }
.enter .title { font-weight: 400; color: #2a2a2a; font-size: 16px; padding-bottom: 18px; display: flex; justify-content: flex-start; flex-basis: 100%; max-width: 100%; margin-top: 12px; }
.enter .enter-form form { display: flex; flex-direction: column; align-items: center; }
.enter .enter-form form div { display: flex; flex-direction: row; margin-top: 30px; margin-bottom: 30px; /* Hide the browser's default checkbox */ /* Create a custom checkbox */ /* On mouse-over, add a grey background color */ /* When the checkbox is checked, add a blue background */ /* Create the checkmark/indicator (hidden when not checked) */ /* Show the checkmark when checked */ /* Style the checkmark/indicator */ }
.enter .enter-form form div .container { display: block; position: relative; padding-left: 30px; margin-bottom: 12px; cursor: pointer; font-size: 16px; -webkit-user-select: none; -moz-user-select: none; -ms-user-select: none; user-select: none; text-align: center; }
.enter .enter-form form div .container input { position: absolute; opacity: 0; cursor: pointer; }
.enter .enter-form form div .checkmark { position: absolute; top: 0; left: 10px; height: 8px; width: 8px; background-color: #fff; border: 2px solid #0000ff; }
.enter .enter-form form div .container:hover input ~ .checkmark { background-color: #fff; }
.enter .enter-form form div .container input:checked ~ .checkmark { background-color: #ffffff; }
.enter .enter-form form div .checkmark:after { content: ""; position: absolute; display: none; }
.enter .enter-form form div .container input:checked ~ .checkmark:after { display: block; }
.enter .enter-form form div .container .checkmark:after { left: 2px; top: 0px; width: 3px; height: 5px; border: solid #230056; border-width: 0 1px 1px 0; -webkit-transform: rotate(45deg); -ms-transform: rotate(45deg); transform: rotate(45deg); }
.enter .enter-form form .btn-enter { border: none; padding-top: 0; border-bottom: none; width: 184px; padding-left: 20px; height: 53px; padding: 0; font-size: 16px; color: #fff; text-transform: uppercase; letter-spacing: 1.5px; background: linear-gradient(to top, #020035, #310064); margin-bottom: 40px; }
.enter .enter-form form .input { height: 28px; border: none; padding-top: 28px; border-bottom: 2px solid #aeaeae; width: 90%; padding-left: 20px; }
.enter .enter-form form .input::-webkit-input-placeholder { /* Chrome/Opera/Safari */ color: #aeaeae; font-style: italic; font-size: 16px; }
.enter .enter-form form .input::-moz-placeholder { /* Firefox 19+ */ color: #aeaeae; font-style: italic; font-size: 16px; }
.enter .enter-form form .input:-ms-input-placeholder { /* IE 10+ */ color: #aeaeae; font-style: italic; font-size: 16px; }
.enter .enter-form form .input:-moz-placeholder { /* Firefox 18- */ color: #aeaeae; font-style: italic; font-size: 16px; }
.enter .check-in { display: flex; flex-direction: column; align-items: center; font-family: arial; font-size: 16px; }
.enter .check-in p, .enter .check-in a { margin-bottom: 36px; color: #323232; }

.error .container { display: flex; flex-direction: column; align-items: center; }
.error .container .img { margin-top: 26px; }
.error .container .desc { margin-top: 20px; margin-bottom: 40px; font-family: "roboto"; font-weight: 600; font-size: 16px; color: #d9d8d8; }

.enter .enter-form form div .reg { left: 30px; }
.enter .social-icon { display: flex; align-items: center; justify-content: space-between; }
.enter .social-icon a { text-decoration: none; display: flex; align-items: center; color: #2a2a2a; font-size: 16px; font-family: "roboto"; }
.enter .social-icon a span { margin: 0 9px; }
